<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tarefa.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @tarefa.descricao %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @tarefa.inicio %>
</p>

<p>
  <strong>Previsao:</strong>
  <%= @tarefa.previsao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tarefa.status %>
</p>

<%= link_to 'Editar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar ao Inicio', tarefas_path %>
